################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TheDotNets/v14/.suo
*.dll
*.pdb
*.suo